@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.balance {
  text-wrap: balance;
}

.text-outline {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

/* Template Loader */

.loader {
  width: 47px;
  height: 47px;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 24px solid;
  border-color: transparent transparent #fb7185 #fb7185;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  animation: mvx 1.2s infinite ease-in;
}
.loader:before {
  border-color: #fb7185 #fb7185 transparent transparent;
  animation-name: mvrx;
}
@keyframes mvx {
  0%,
  10% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  75%,
  100% {
    transform: translate(0, 0) rotate(180deg);
  }
}
@keyframes mvrx {
  0%,
  10% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(50%, 50%) rotate(0deg);
  }
  50% {
    transform: translate(50%, 50%) rotate(180deg);
  }
  75%,
  100% {
    transform: translate(0, 0) rotate(180deg);
  }
}

::-webkit-scrollbar {
  width: 0.65em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* border: 0.3rem solid transparent; */
  border-radius: 100vw;
  /* border: 0.3rem solid #27272a27; */
  /* background: linear-gradient(#e52b50, rgba(0, 0, 0, 0.1), #4685ff); */
  background-color: #9cbdff;
}

::-webkit-scrollbar-thumb:hover {
  background: #4685ff;
  /* background: linear-gradient(#b92341, rgba(0, 0, 0, 0.1), #3767c7); */
}
