@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
:root {
  height: 100%;
}

.balance {
  text-wrap: balance;
}

.text-outline {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

/* Template Loader */

.loader {
  width: 47px;
  height: 47px;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 24px solid;
  border-color: transparent transparent #fb7185 #fb7185;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  animation: mvx 1.2s infinite ease-in;
}
.loader:before {
  border-color: #fb7185 #fb7185 transparent transparent;
  animation-name: mvrx;
}
@keyframes mvx {
  0%,
  10% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  75%,
  100% {
    transform: translate(0, 0) rotate(180deg);
  }
}
@keyframes mvrx {
  0%,
  10% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(50%, 50%) rotate(0deg);
  }
  50% {
    transform: translate(50%, 50%) rotate(180deg);
  }
  75%,
  100% {
    transform: translate(0, 0) rotate(180deg);
  }
}

::-webkit-scrollbar {
  width: 0.65em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* border: 0.3rem solid transparent; */
  border-radius: 100vw;
  /* border: 0.3rem solid #27272a27; */
  /* background: linear-gradient(#e52b50, rgba(0, 0, 0, 0.1), #4685ff); */
  background-color: #9cbdff;
}

::-webkit-scrollbar-thumb:hover {
  background: #4685ff;
  /* background: linear-gradient(#b92341, rgba(0, 0, 0, 0.1), #3767c7); */
}

.parent-bg:hover .moving-bg {
  background: #27272a;
}

.moving-bg {
  background: linear-gradient(-45deg, #e52b50, #000, #4685ff);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
